@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
   
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.navbar__content{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__left--mob{
    display: none;
}
.navbar__left img{
    height: 100%;
    width: 160px;
}

.navbar__center ul {
    display: flex;
    gap: 18px;
}
.navbar__center ul li{
    list-style: none;
}
.navbar__center ul li a{
    text-decoration: none;
    color: #000;
}
.navbar__right--value{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__right--value img{
    width: 20px;
    fill: grey;
    padding-right: 10px;
    border-right: 1px solid grey;
}
.navbar__right--value a{
    text-decoration: none;
    color: #000;
}
.navbar__right{
    display: flex;
    gap: 15px;
}
.navbar__right--value{
    background-color: transparent;
    padding: 7px 12px;
    border-radius: 50px;
}
.navbar__right--value:hover{
    background-color: rgba(194, 194, 194, 0.514);
    padding: 7px 12px;
    border-radius: 50px;
}
.navbar__right--button{
    background-color: #000;
    padding: 7px 12px;
    border-radius: 50px;
}
.navbar__right--button a{
    color: #fff;
}

/* search section */

.search__section{
    display: grid;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.search__head{
    text-align: center;
    margin-bottom: 20px;
    
}
.search__category{
    margin-bottom: 20px;
    overflow-x: scroll;
}
.search__category::-webkit-scrollbar{
    display: none;
}

.search__category ul{
    display: flex;
    gap: 25px;
    width: max-content;
}
.search__category ul li{
    list-style: none;
}
.search__category ul .active{
    border-bottom: 3px solid black;
    
}
.search__bar{
    width: 100%;
    text-align: center;
}
.search__bar--items{
    display: flex;
    align-items: center;
    
    border: 1px solid #8b8b8b;
   padding: 5px 14px;
   border-radius: 50px;
   box-shadow: 0px 1px 4px #7a7a7a;
}
.search__bar--items i{
    margin-right: 15px;
}
.search__bar--items input{
    border: none;
    padding: 10px 5px;
    width: 100%;
    font-size: 16px;
}
.search__bar--items input:focus{
    outline: none;
}
.search__bar--items a{
    background-color: #34e0a1;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 500;
}

/* banner secton */

.banner__section{
    max-width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    padding: 6rem;
    background: linear-gradient(90deg, #d4dff7,#dcc8ff);
}

.banner__content{
    width: 50%;
    height: 100%;
    padding: 50px;
}
.banner__content h1{
    font-size: 44px;
    line-height: 45px;
}
.banner__content p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.banner__content .b__btn{
    margin-top: 20px;
    margin-bottom: 20px;

}
.banner__content .b__btn a i{
    margin-right: 10px;
}
.banner__content a{
    background-color: #301d49;
    padding: 10px 20px;
    color: #fff;
    border-radius: 40px;
}

.banner__image{
    position: absolute;
    top: 0;
 
}
.banner__image img{
    width: 100%;
    object-fit: cover;
}
.banner__mob {
    display: none;
}
/* ad section */

.ad__section{
    
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgba(151, 148, 148, 0.575);
}
.ad__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
}
.img--1{
    width: 100%;
    display: flex;
    flex-grow: 1;
    max-width: 160px;
}
.ad__images{
    width: 150px;
    height: 150px;
    rotate: -4deg;
    overflow: hidden;
    border-radius: 10px;
    
}
.ad__images img{
   width: 100%;
   height: 100%;
   aspect-ratio: 2/3;
object-fit: cover;
object-position: left;
   
}
.ad-img{
   background: transparent;
}
.ad__btn{
    background-color: #fff;
    width:20%;
    padding: 10px 15px;
    text-align: center;
    border-radius: 50px;
}
.ad__btn:hover .expo__btn{
    border-bottom: 1px solid black;
    transform: scaleX(100%);
    transition-timing-function: linear;
}


/* <!--trip carousel section--> */

.carousel__item--start{
    position: relative;
}
.carousel__section{
 margin-top: 40px;
}
.carousel__title{
    margin-bottom: 20px;
}
.carousel__title p{
    font-size: 20px;
    font-weight: 600;
}
.carousel__title span{
    font-size: 14px;
}

.carousel__inner{
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
   
}
.carousel__inner::-webkit-scrollbar{
    display: none;
}
.carousel__inner .item__1{
    flex-grow: 1;
    flex-basis: 20%;
    height: max-content;
   position: relative;
}

.item__1 img{
    width: 100%;
    border-radius: 10px;
   

}
.item__1 h2{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 10px;
    color: #fff;
    backdrop-filter: blur(10px);
    
}
.carousel__btn{
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
}
.carousel__btn .left__btn{
    background-color: #fff;
    border: 1px solid black;
    padding:10px 15px;
    border-radius: 50px;
    margin-left: -15px;
}
.carousel__btn .right__btn{
    background-color: #fff;
    border: 1px solid black;
    padding:10px 15px;
    border-radius: 50px;
    margin-right: -15px;
}

/* experiense sectiomn */



.star__section{
    display: flex;
    font-size: 12px;
    gap: 10px;
}
.star__items{
    display: flex;
    gap: 4px;
    margin-top: 5px;
}
.star__items .span{
    width: 10px;
    height: 10px;
    background-color: #34e0a1;
    border-radius: 50px;
}
.carousel__deatails a{
    font-size: 12px;
    font-weight: 600;
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 8px;
    margin-top: 10px;

}
.carousel__deatails p{
    margin-top: 10px;
}

.carousel__deatails span{
    font-size: 14px;
    font-weight: 600;
}
.mt-50{
    margin-top: 100px;
}

.video__section{
    margin-top: 40px;
}
.video iframe{
    border-radius: 10px;
}

/* footer css */

.footer{
    background-color: rgba(255, 232, 236, 0.877);
    width: 100%;
    margin-top: 40px;
    padding: 15px 0px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__item p{
    font-size: 14px ;
    font-weight: 500;
}
.footer__item ul li{
    font-size: 12px;
}
.footer__content--two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f__item--1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.f__item--1 img{
    width: 40px;
    height: 100%;
}
.f__para p{
    font-size: 10px;
}
.f__para ul{
    display: flex;
    flex-wrap: wrap;
}
.f__para ul li{
    font-size: 12px;
    font-weight: 600;
    border-bottom: 2px solid black;
   margin-right: 8px;
}
.f__item--2{
    margin-top: 10px;
}
.f__item--2 ul{
    display: flex;
    gap: 15px;
}
.footer__item p i{
 
    display: none;
   }
@media only screen and (max-width:1024px){

    /* banner section */
    .banner__content h1 {
        font-size: 32px;
        line-height: 35px;
    }
    .banner__content p {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }
    .banner__image{
        display: none;
    }
    .banner__mob{
        display: block;
    }
    .banner__mob img{
        width: 100%;
    }
    .banner__section{
        padding: 1.8rem;
    }
    .banner__content{
        width: 100%;
        padding: 0;
        text-align: center;
    }


}
@media only screen  and (max-width:768px) {
    .navbar__center{
        display: none;
    }
    .item__1 h2 {
        font-size: 16px;
        position: unset;
        bottom: 0;
        margin-bottom: 10px;
        left: 10px;
        color: #000000;
       
    }
    .carousel__btn{
        display: none;
    }

    


    /* ad section */

    .ad__items{
        display: grid;
    }

    /* experience section */
    .carousel__deatails a {
        font-size: 9px;
    }
    .carousel__deatails span {
        font-size: 10px;
    }
    .carousel__deatails p{
        font-size: 12px;
    }

    /* footer responsive */
   .footer__content{
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
   }
   .footer__item p{
    font-size: 14px;
    font-weight: 400;
    
   }
   .footer__item p i{
    margin-right: 15px;
    display: inline-block;
   }
    .footer__item ul{
        display: none;
    }
    .footer__content--two {
        display: grid;
    }
}
@media only screen  and (max-width:500px) {
    .wrapper{
        width: 90%;
    }
    /* ad section */
    

.ad__btn {
    background-color: #fff;
    width: 100%;
    padding: 10px 1px;
    text-align: center;
    border-radius: 50px;
}

    
    /* navbar responsive */
.navbar__left{
    display: none;
}
.navbar__left--mob{
    display: block;
}

.navbar__left--mob img{
    width: 40px;
    height: 100%;
}

  body{
   
    font-size: 12px;
  }
}